*{
    margin: 0;
    box-sizing:border-box;
}


body{
    display:flex;
    flex-direction:column;
    height: 100vh;
}

nav{
    display: flex;
    background: gray;
    width: 100%;
    min-height: 100px;
    justify-content:space-between;
    padding: 8px;
    position: sticky;
    top: 0;
}

nav a{
    color: black;
}

main{
    display: grid;
    height: 100%;
    grid-template-columns: 60% 40%;
    grid-template-rows: repeat(auto,1fr);
    grid-gap: 10px;
    padding: 5vh;
    grid-template-areas:
    "a b"
    "a c"
    "d d"
    "e f"   ;
}

.cards{
    width: 100%;
    min-height: 200px;
    background: rgb(73, 73, 255);
}

.a{
    grid-area: a;
}

.b{
    grid-area: b;
}

.c{
    grid-area: c;
}

.d{
    grid-area: d;
}

.e{
    grid-area: e;
}

.f{
    grid-area: f;
}

.nav-ul {
    display: none;
}

/*
    Tablet version
*/
@media screen and (min-width: 641px) {
    main{
        grid-template-areas:
    "a b"
    "c d"
    "e e"
    "f f"   ;
    }

    .cards{
        width: 100%;
        min-height: 200px;
        background: rgb(109, 109, 223);
    }
}

/*
    desktop version
*/
@media screen and (min-width: 1008px) {
    main{
    grid-template-columns: repeat(4,1fr);   
    grid-template-areas:
    "a b c d"
    "e f g h"
    "i j k l"  ;
    }

    .cards{
        width: 100%;
        min-height: 200px;
        background: rgb(161, 161, 240);
    }

    .nav-ul {
        display: flex;
        width: 60%;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        font-size: medium;
    }

    .nav-ul li:hover {
        cursor: pointer;
    }

    .fa-bars {
        display: none;
    }

}